<div class="jumbotron">
    <h1>MUSIC IS LIFE</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4" ng-repeat="album in $ctrl.albums">
            <div class="thumbnail">
                <img ng-src="{{album.artworkUrl100}}" alt="{{album.collectionName}}">
                <div class="caption">
                    <h3>{{album.collectionName}}</h3>
                    <p>
                        <a ui-sref="album({id: album.collectionId})" class="btn btn-primary" role="button">More Dets</a>
                        <!-- ^^^^^ This thing is pretty important but it wont work until you have an album state that is expecting an id parameter -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
    